<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mdb.css">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-app="monsite" ng-cloak ng-controller="MainCtrl" class="fixed-sn deep-purple-skin">
    {% block main %}
    {% endblock %} 

    {% block importJs %}
        {% for item in jsResdources %}
            <script src="{{ item }}"></script>
        {% endfor %}
    {% endblock %} 
    <script>
        // SideNav init
        $(".button-collapse").sideNav();
        var el = document.querySelector('.custom-scrollbar');
        Ps.initialize(el);
    
        // Animation init
        new WOW().init();
    
        //Modal contact init
        $('#modal-contact').on('shown.bs.modal', function () {
          $('#myInput').focus()
        })
        
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>
</body>