{% block navbar %}
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">
        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p>Blog Post Page V.1</p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#modal-contact"><i class="fa fa-envelope"></i><span class="hidden-sm-down"> Contact</span></a>
            </li> 
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"><i class="fa fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"><i class="fa fa-snapchat-ghost"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </nav>
</header>
{% endblock %}