<% block navbar %>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">
        <!-- SideNav slide-out button -->
        <div class="float-left" ng-show="authentificationService.getConnected()">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p>Blog Post Page V.1</p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item"
                ng-repeat="route in routes | filter: { showInNavbar: true }"
                ng-class="{active : navigationService.getActivePage()===route.activeTag}">
                <a ng-href="#!{{route.route}}" class="nav-link waves-effect waves-light">
                    <i class="fa {{route.icon}}"></i> {{route.name}}
                </a>
            </li>
            <li class="nav-item" ng-if="authentificationService.getConnected()" ng-click="authentificationService.disconnect()">
                <a href="#" class="nav-link waves-effect waves-light"><i class="fa fa-power-off"></i> Se deconnecter</a>
            </li>
            <li class="nav-item" ng-if="!authentificationService.getConnected()" ng-class="{active : navigationService.getActivePage()==='login'}">
                <a href="#!/login" class="nav-link waves-effect waves-light"><i class="fa fa-power-off"></i> Se connecter</a>
            </li>
        </ul>
    </nav>
<% endblock %>